body {
    width: 100%;
    background-color: #171923;
}

h1 {
    color: #319795;
    border-bottom: 1px solid #2d374862;
    padding-top: 10px;
    padding-bottom: 10px;
}



h2 {
    color: #ebeced; 
}

label {
    color: #ebeced;
}

.cardLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45px;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    background-color: #2d3748;
    box-shadow: 5px 5px 5px 1px #00000033;
    margin: 0px; 
}


.container {
    display: flex;
    justify-content: center;
}

#container {
    align-items: center;
    padding: 15px;
    border: 1px solid #31979511;
    background-color: #2d374833;
    box-shadow: 10px 10px 10px 1px #00000017;
}

.cardInfo input{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid #319795;
    padding: 10px;
}

.cardInfo input:focus{
    background-color: rgba(255, 255, 255, 0);
    
}

.btnSubmit{
    padding-top: 10px;
}

.btnSubmit button {
    background-color: #319795;
    border: none;
    transition: .3s;
}

.btnSubmit button:hover {
    background-color: #1c5e5c;
}

#btnSubmit:active {
    background-color: #1c5e5c;

}

.error {
    background-color:#f8c9ca;
    border-left: 5px solid #f3696b;
    margin-top: 5px;
    margin-bottom: 2px;
}

.error p {
    color: black; 
    display: flex;
    justify-content: center;
    margin: 0px;
}

.errorContainer {
    margin-bottom: 10px;
}